:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
}

* {
  margin: 0;
  padding: 0;
}

.principal {
  background-image: url(./img/Background.png); /* faz sentido utilizar background-image se a internet estiver ruim e ai está imagem não vai carregar, não afetando assim o usúario  */
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  height: 100vh;
}
